body{
    background:rgb(125, 193, 248);
}

h1{
    position: absolute;
    top:4%;
    left:1%;
    font-family: 'Press Start 2P', cursive;
    font-size: 58px;
    color:rgb(36, 36, 57);
}

h2{
    position: absolute;
    top:14%;
    left:2%;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color:rgb(36, 36, 57);
}

h3{
    position: absolute;
    top:2%;
    left:0.5%;
    font-size: 100px;
}

#canvas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);       /*在頁面水平垂直置中*/
    width: 900px; 
    height: 600px;
    background: white; 
    font-family: 'Orbitron', sans-serif;
    font-family: 'Share Tech Mono', monospace;
}

#btn{
    position: absolute;
    top:50%;
    left:90%;
}

nav{
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    margin-bottom:-50px;
    position: absolute;
    top:30%;
    left:80%;
}

/* 下拉按鈕*/
.dropbtn{
    margin: 5px;
    background-color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius:25px;
}

.dropdown {
    font-family: 'Share Tech Mono', monospace;
}

/*下拉内容，default隱藏*/
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #f9f9f9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:25px;
    text-align: center;
}

/* 滑鼠怡怡上後修改菜單顏色*/
.dropdown-content a:hover, nav ul li a:hover{
    border-radius:25px;
}

/* 滑鼠一上去後顯示下拉菜單*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* 下拉內容顯示後改變背景色*/
.dropdown:hover .dropbtn{
    color:rgb(49, 106, 125);
}

.dropbtn {
    display: inline-block;
    color: rgb(112, 174, 152);
    padding: 8px 10px;
    font-size: 30px;
    text-decoration:none;
    font-weight:bold;
} 